name: Deploy to Github Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/configure-pages@v5
        id: pages

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.9

      - name: Cahce Bun deps
        uses: actions/cache@v5
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install Deps
        run: bun install --frozen-lockfile

      - name: codeGen
        run: bun run prepare

      - name: Build
        env:
          BASE_PATH: ${{ steps.pages.outputs.base_path }}
        run: bun run build

      - uses: actions/upload-pages-artifact@v4
        with:
          path: build/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
